# Irys variables
IRYS_GATEWAY=https://gateway.irys.xyz/
METADATA_MUTABLE=true
IMAGE_MUTABLE=false
PRIVATE_KEY="0x......"
IRYS_PROVIDER_URL=
IRYS_NETWORK=https://node1.irys.xyz
IRYS_TOKEN=ethereum

# NFT Metadata Fields (without the image URL, to be set post-upload to Irys)
NAME=""
DESCRIPTION=""
EXTERNAL_URL=""
BACKGROUND_COLOR=""
ANIMATION_URL=

# Example attributes (add or modify as needed)
ATTRIBUTES=

# Directories & images
IMAGE_DIR="./images"
METADATA_DIR="./metadata"
ACCEPTED_IMAGE_TYPES=.gif,.png,.jpg,.jpeg

# Contract information
CONTRACT_ADDRESS=
CONTRACT_TYPE=
